<div class="user-timeline-items">
    {{> timelineToolbar}}
    <div class="user-timeline-content">
        {{#unless isEmpty}}
            {{> userTimelineContent}}
        {{else}}
            <section class="user-timeline-item">
                <div class="user-timeline-text">This user does not have any tweets.</div>
                <div class="clear"></div>
            </section>
        {{/unless}}
    </div>
</div>
